<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--dtd的xml约束是有顺序，标签顺序不能错-->
<configuration>

    <settings>
        <!--mybatis输出日志，采用何种组件输出-->
        <setting name="logImpl" value="SLF4J"/>
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--插件-->
    <plugins>
        <!--分页插件-->
        <!--<plugin interceptor="com.bjpowernode.plugin.pager.PagerPlugin">
            <property name="isEnable" value="true"/>
        </plugin>-->
        <plugin interceptor="com.bjpowernode.plugin.MyPlugin"/>
    </plugins>

</configuration>